@page "/CreatePost"

<h3>Create Post</h3>

<div class="CreatePosts">
    <form>
  <input type="text" id="description" name="topic" placeholder="Topic"><br>
  <input type="text" id="description" name="description" placeholder="Description"><br>
  <input type="text" id="skeywords" name="skeywords" placeholder="Suggested keywords"><br>
  <input type="text" id="ckeyword" name="ckeyword" placeholder="Create new keyword"><br>
  <br><br>

  <input type="submit" value="Submit">
</form> 
    </div>