@page "/Todo"

<h3>Client - Todo:</h3>

<ul>
    <li>Create UI</li>
    <li>Look at tests</li>
    <li>API</li>
    <li>Create CreatePost</li>
    <li>Create Your Posts</li>
    <li>Create help floats</li>
    <li>Authentication - Azure</li>
    <li>Swagger</li>
</ul>