@page "/YourPosts"
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;
@using client.Model;
@inject HttpClient Http;
@attribute [Authorize]


<h3>Your Posts</h3>

<div class="yourPostList">
@if (postDisplayDTOs == null)
{
    <p>No posts found.</p>
}
else
{
    
        @foreach (var post in postDisplayDTOs)
        {
            <div class="yourPosts">
                <div class="title">
                    @post.Title
                </div> 
                <div class="desc" >
                    @post.Description
                </div> 
                <div class="flex-container">
                    @foreach (var k in @post.Keywords)
                    {
                        <p class="key">@k.Name</p>
                    }
                </div>
            </div>
        }
    
}
</div>

@code {
    private PostDisplayDTO[]? postDisplayDTOs;
    protected override async Task OnInitializedAsync() => 
        postDisplayDTOs = await Http.GetFromJsonAsync<PostDisplayDTO[]>("https://localhost:7081/Post");
}


<style>
    .yourPosts 
    {
        border: 1px solid black;
        width: auto;
        height: auto;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .title
    {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .desc
    {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .flex-container{
        display: flex;
    }

    .key
    {
        background-color: lightgray;
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 10px;
    }

</style>

